body
{
	background-color: white;
}
.search-wrapper
{
	display: block;
}
#movie1
{
	display: none;
}
.change--col
{
	text-align:center;
}
.movie-best .movie-beta__item 
{
	float:none;
	display :inline-block;
	margin-left: -4px;
	font-weight: bold;
}
.swiper-wrapper
{
	float:none;
	display: inline-block;
	margin-bottom: -10px;
}
.tags
{
	display: block;
}
.comment-wrapper
{
	/*display: none;*/
}
.info-wrapper
{
	display: none;
}
.tags-area
{
	display: none;
}
.logo img
{
	width : 120px;
	height: 120px;
	padding : 19px;
}
.logo
{
	top : -34px;
}

/* Overlay-Register closing cross */
.overlay-register .overlay-close-register  {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 0px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  color: transparent;
  outline: none;
  z-index: 310;
}
.overlay-register .overlay-close-register:before  {
  content: "\f00d";
  font-size: 13px;
  font-family: "FontAwesome";
  color: #4c4145;
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  text-align: center;
}
/* Register */
.overlay-register {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 65, 69, 0.6);
  z-index: 300;
}
.alert{
	display: none;
}
.gradasi{
	
}
.gradasi li {
	list-style-type: none;
}

.boxgradasi:hover{
	margin: 30px 0 30px 0;
	background: linear-gradient(to right, white,orange);
	opacity : 0.75;
}

.imgbot {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 250%;
}

.imgbot img{
	margin-left:19%;
}

.txtcenter{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.tengah {
    display: inline-block;
}
