.dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 0px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    font-family: Helvetica;
}

.dropdowns {
    position: relative;
    display: inline-block;
}

.dropdowns-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdowns-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdowns-content a:hover {background-color: #f1f1f1}

.dropdowns:hover .dropdowns-content {
    display: block;
}

.dropdowns:hover .dropbtn {
    /*background-color: #3e8e41;*/
}